@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    /* Colors */
    --tailwind-success: 151 45% 34%;
    --tailwind-warning: 25 80% 63%;
    --tailwind-danger: 358 45% 49%;

    /* Radix Slate Colors (light & dark) (https://www.radix-ui.com/colors) */

    /* App backgrounds  */
    --rdx-slate-light-1: 0, 0%, 100%;
    --rdx-slate-dark-1: 240 6% 7%;

    /* Subtle component backgrounds  */
    --rdx-slate-light-2: 240 20% 98%;
    --rdx-slate-dark-2: 220 6% 10%;

    /* UI component backgrounds */
    --rdx-slate-light-3: 240 11% 95%;
    --rdx-slate-dark-3: 225 6% 14%;
    --rdx-slate-light-4: 240 10% 92%;
    --rdx-slate-dark-4: 210 7% 16%;
    --rdx-slate-light-5: 230 11% 89%;
    --rdx-slate-dark-5: 214 7% 19%;

    /* Borders */
    --rdx-slate-light-6: 240 10% 86%;
    --rdx-slate-dark-6: 213 8% 23%;
    --rdx-slate-light-7: 233 82% 82%;
    --rdx-slate-dark-7: 213 8% 28%;
    --rdx-slate-light-8: 231 10% 75%;
    --rdx-slate-dark-8: 212 8% 38%;

    /* Solid backgrounds */
    --rdx-slate-light-9: 231 6% 57%;
    --rdx-slate-dark-9: 219 6% 44%;
    --rdx-slate-light-10: 226 5% 53%;
    --rdx-slate-dark-10: 222 5% 49%;

    /* Text */
    --rdx-slate-light-11: 220 6% 40%;
    --rdx-slate-dark-11: 216 7% 71%;
    --rdx-slate-light-12: 210 13% 13%;
    --rdx-slate-dark-12: 220 9% 94%;

    /* Tailwind Colors */
    --background: var(--rdx-slate-light-3);
    --foreground: var(--rdx-slate-light-12);

    --muted: var(--rdx-slate-light-4);
    --muted-foreground: var(--rdx-slate-light-11);

    --popover: var(--rdx-slate-light-1);
    --popover-foreground: var(--rdx-slate-light-12);

    --card: var(--rdx-slate-light-1);
    --card-foreground: var(--rdx-slate-light-12);

    --border: var(--rdx-slate-light-6);
    --input: var(--rdx-slate-light-4);

    --primary: var(--rdx-slate-light-12);
    --primary-foreground: var(--rdx-slate-light-3);

    --secondary: var(--rdx-slate-light-3);
    --secondary-foreground: var(--rdx-slate-light-12);

    --accent: var(--rdx-slate-light-3);
    --accent-foreground: var(--rdx-slate-light-12);

    --destructive: var(--tailwind-danger);
    --destructive-foreground: var(--rdx-slate-light-12);

    --ring: var(--rdx-slate-light-8);
  }

  .dark {
    /* Tailwind Colors */
    --background: var(--rdx-slate-dark-1);
    --foreground: var(--rdx-slate-dark-12);

    --muted: var(--rdx-slate-dark-2);
    --muted-foreground: var(--rdx-slate-dark-11);

    --popover: var(--rdx-slate-dark-1);
    --popover-foreground: var(--rdx-slate-dark-12);

    --card: var(--rdx-slate-dark-3);
    --card-foreground: var(--rdx-slate-dark-12);

    --border: var(--rdx-slate-dark-6);
    --input: var(--rdx-slate-dark-1);

    --primary: var(--rdx-slate-dark-12);
    --primary-foreground: var(--rdx-slate-light-12);

    --secondary: var(--rdx-slate-dark-3);
    --secondary-foreground: var(--rdx-slate-dark-12);

    --accent: var(--rdx-slate-dark-3);
    --accent-foreground: var(--rdx-slate-dark-12);

    --destructive: var(--tailwind-danger);
    --destructive-foreground: var(--rdx-slate-dark-12);

    --ring: var(--rdx-slate-dark-8);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
